@tailwind base;
@tailwind base;
@tailwind base;
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins&display=swap');

* {
    background-color: black;
    font-family: 'Lato', sans-serif;
    color: #DFD390;
}

.payment_button {
  background-color: #DFD390;
  border-radius: 8px;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 39px;
  font-weight: 400;
  padding: 100px 120px;
  position: relative;
  text-align: center;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.payment_button:hover,
.payment_button:focus {
  background-color: #ebe2ad;
}

.generic_button {
    background-color: #DFD390;
    border: 1px solid #DFD390;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#DFD390 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-size: 23px;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.generic_button:focus {
    text-decoration: none;
}

.generic_button:focus {
  text-decoration: none;
}

.generic_button:hover {
  text-decoration: none;
}

.generic_button:active {
  box-shadow: rgba(223, 211, 144, .125) 0 3px 5px inset;
  outline: 0;
}

.generic_button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #DFD390 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .generic_button {
    padding: 12px 50px;
  }
}