@tailwind base;
@tailwind base;
@tailwind base;
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins&display=swap');

* {
    background-color: black;
    font-family: 'Lato', sans-serif;
    color: #DFD390;
}

button {
    background-color: #DFD390;
    background-image: none;
    border: 1px solid #DFD390;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#DFD390 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

button:focus {
    text-decoration: none;
}

button:focus {
  text-decoration: none;
}

button:hover {
  text-decoration: none;
}

button:active {
  box-shadow: rgba(223, 211, 144, .125) 0 3px 5px inset;
  outline: 0;
}

button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #DFD390 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  button {
    padding: 12px 50px;
  }
}